<div class="card-action-cmp">
  <div class="card-action-cmp__container" [ngClass]="card.position">
    <div class="card-action-cmp__container__image-wrapper">
      <img class="card-action-cmp__container__image-wrapper__image" [src]="card.imageSrc" [ngClass]="card.position">
    </div>
    <div class="card-action-cmp__container__text-wrapper">
      <div class="card-action-cmp__container__text-wrapper__title" [ngClass]="card.position">
        {{card.title}}
      </div>
      <div class="card-action-cmp__container__text-wrapper__bar" [ngClass]="card.position">
        <hr class="card-action-cmp__container__text-wrapper__bar__line">
      </div>
      <div class="card-action-cmp__container__text-wrapper__body" [ngClass]="card.position">
        {{card.body}}
      </div>
    </div>
  </div>
</div>
