.card-action-cmp {
  margin-bottom: 60px;
  &__container {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;

    &.position {
      &__left {
        flex-direction: row;
      }

      &__right {
        flex-direction: row-reverse;
      }
    }

    &__image-wrapper {
      &__image {
        object-fit: cover;
        width: 362px;
        height: 359px;

        &.position {
          &__left {
            margin-right: 50px;
            border-top: 10px solid #328ED1;
            border-right: 10px solid #328ED1;
            border-bottom: 10px solid #F5951D;
            border-left: 10px solid #F5951D;
          }

          &__right {
            margin-left: 50px;
            border-top: 10px solid #F5951D;
            border-right: 10px solid  #F5951D;
            border-bottom: 10px solid #328ED1;
            border-left: 10px solid #328ED1;
          }
        }
      }
    }

    &__text-wrapper {
      &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0.2em;
        height: 54px;

        &.position {
          &__left {
            text-align: left;
          }

          &__right {
            text-align: right;
          }
        }
      }

      &__bar {
        display: flex;

        &.position {
          &__left {
            justify-content: left;
          }

          &__right {
            justify-content: right;
          }
        }

        &__line {
          margin: 0;
          margin-bottom: 30px;
          border: none;
          height: 5px;
          width: 520px;
          display: block;
          background-color: #F5951D;
        }
      }

      &__body {
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        display: flex;
        align-items: center;

        &.position {
          &__left {
            text-align: left;
          }

          &__right {
            text-align: right;
          }
        }
      }
    }
  }
}
