.carousel-banner-cmp {

  $height-images-desktop: 400px;
  $width-images-desktop: 600px;

  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    &__images {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: 30px;
      margin-right: 30px;
      justify-content: center;
      width: 1200px;
      &__top {
        display: flex;
      }

      &__bottom {
        display: flex;
      }

      & img {
        &.top {
          &__left{
            height: $height-images-desktop;
            width: $width-images-desktop;
            object-fit: cover;
          }

          &__right{
            height: $height-images-desktop;
            width: $width-images-desktop;
            object-fit: cover;
          }
        }
        &.bottom {
          &__left {
            height: $height-images-desktop;
            width: $width-images-desktop;
            object-fit: cover;
          }

          &__right{
            height: $height-images-desktop;
            width: $width-images-desktop;
            object-fit: cover;
          }
        }
      }

      &__pix {
        position: absolute;
        top: 200px;
        &__text {
          background-color: white;
          width: 267px;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 20px;
        }
        &__image {
          margin-bottom: 20px;
          background-color: white;
          & img {
            height: 250px;
          }
        }
      }
    }



  }
}
