<div class="carousel-banner-cmp">
  <app-loading [isLoading]="loading"></app-loading>
  <div class="caoursel-banner-cmp__container" *ngIf="!loading">
    <div class="carousel-banner-cmp__container__images">

      <div class="carousel-banner-cmp__container__images__top">
        <ng-container *ngFor="let image of getImageSectionTop()">
            <img [src]="image.imageSrc" [ngClass]="image.className">
        </ng-container>
      </div>

      <div class="carousel-banner-cmp__container__images__bottom">
        <ng-container *ngFor="let image of getImageSectionBottom()">
            <img [src]="image.imageSrc" [ngClass]="image.className">
        </ng-container>
      </div>

      <div class="carousel-banner-cmp__container__images__pix" id="doar" >
        <ng-container *ngFor="let item of donationSection">
          <div class="carousel-banner-cmp__container__images__pix__text" *ngIf="isTextDonation(item)">
            {{item.value}}
          </div>

          <div class="carousel-banner-cmp__container__images__pix__image" *ngIf="isImageDonation(item)">
            <img [src]="item.value">
          </div>
        </ng-container>
      </div>

    </div>

  </div>
</div>
