<div class="about-us-cmp">
  <div class="about-us-cmp__container">
    <div class="about-us-cmp__container__title">
      <p>O projeto NOVA CHANCE é uma ONG formalizada em 2021 que tem como objetivo a geração de melhores oportunidades de vida através da educação e cultura para jovens do Jardim Aracati.</p>
    </div>
    <div class="about-us-cmp__container__cards-wrapper">
      <ng-container *ngFor="let card of cards; let i = index">
        <div class="front-action-cmp__container__cards-wrapper__card">
          <app-card-about-us [card]="card"></app-card-about-us>
        </div>
      </ng-container>
    </div>
  </div>
</div>
