.hero-banner-cmp{

  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__hero{
      height: 350px;
      & img {
        height: 400px;
      }
    }
    &__subtitle{
      font-size: 32px;
      & p {
        margin-top: 0px;
        margin-bottom: 0px;
        @media screen and (max-width: 500px){
          text-align: center;
        }
      }
    }

  }
}
