@import '../../../../variables.scss';

.hero-banner-cmp{
  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 500px){
      overflow-x: hidden;
    }

    &__hero{
      height: 350px;
      & img {
        height: 400px;
      }
    }
    &__subtitle{
      font-size: 32px;
      width: 1000px;
      text-align: center;

      @media screen and (max-width: 500px){
        width: 360px;
      }
      & p {
        margin-top: 0px;
        margin-bottom: 0px;
        @media screen and (max-width: 500px){
          text-align: center;
        }
      }
    }

  }
}
