.back-top-cmp{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3000px;
  z-index: 1;
  @media screen and (max-width: 500px){
    display: none;
  }
  &__container {
    position: sticky;
    top: 500px;
    display: flex;
    justify-content: flex-end;
    & button {
      border: none;
      background-color: transparent;
      font-weight: 700;
      cursor: pointer;
      width: 100px;
      height: 50px;
    }
  }
}
