.contact-form-cmp {
  &__container {
    display: flex;
    justify-content: center;
    &__contact-button {

      @keyframes button-animation {
        from {
          width: 500px;
          height: 120px;
          border: 2px solid #F5951D;
          color: #F5951D;
        } to {
          width: 550px;
          height: 120px;
          border: 2px solid #ff5500;
          color: #ff5500;
        }
      }

      @keyframes button-reverse {
        from {
          width: 500px;
          height: 120px;
          border: 2px solid #F5951D;
          color: #F5951D;
        } to {
          width: 550px;
          height: 120px;
          border: 2px solid #ff5500;
          color: #ff5500;
        }
      }

      & button {
        outline: none;
        width: 500px;
        height: 120px;
        font-size: 30px;
        border-radius: 20px;
        background-color: transparent;
        border: 2px solid #F5951D;
        color: #F5951D;
        cursor: pointer;

        &:not(:hover){
          animation-name: button-reverse;
          animation-duration: 0.7s;
          animation-direction: reverse;
        }

        &:hover {
          width: 550px;
          height: 120px;
          border: 2px solid #ff5500;
          color: #ff5500;
          animation-name: button-animation;
          animation-duration: 1s;
          animation-direction: normal;
        }
      }
    }
  }
}
