<div class="home-page">
<app-hero-banner></app-hero-banner>
<app-liner top="32px" bottom="62px"></app-liner>
<app-carousel-banner></app-carousel-banner>
<app-title title="quem somos" id="quem-somos"></app-title>
<app-about-us></app-about-us>
<app-title title="frentes de ação" id="frentes-de-acao"></app-title>
<app-front-actions></app-front-actions>
<app-title title="histórias" id="historias"></app-title>
<app-video-player></app-video-player>
<app-title title="contato" id="contato"></app-title>
<app-contact-form></app-contact-form>
<app-back-top></app-back-top>
</div>
