.title-cmp {
  @media screen and (max-width: 500px){
    display: none;
  }
  &__container {
    &__middle {
      display: flex;
      justify-content: center;
      font-size: 48px;
      font-weight: 700;
    }
  }
}
