.video-player-cmp {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    &__title {
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 31px;
    }

    &__player {
      & iframe {
        height: 500px;
        width: 1000px;
      }
    }
  }
}
