.video-player-cmp {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 500px){
    margin-bottom: 46px;
  }

  &__container {
    &__title {
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 31px;
    }

    &__player {

      @media screen and (max-width: 500px){
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & iframe {
        height: 500px;
        width: 1000px;

        @media screen and (max-width: 500px){
          width: auto;
        }
      }
    }
  }
}
