<div class="video-player-cmp">
  <div class="video-player-cmp__container">
    <div class="video-player-cmp__container__title">
      Conheça um pouco da história do projeto
    </div>
    <div class="video-player-cmp__container__player">
      <iframe src="https://www.youtube.com/embed/A-is9Lvwsb8?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
