.footer-cmp{
  display: flex;
  flex-direction: column;
  &__container{
    &__wrapper-content {
      position: relative;
      z-index: -1;
      margin-top: -214px;
      &__logo-wrapper{
        position: relative;
        top: 150px;
        left: 50px;
      }
      &__text-wrapper{
        background-color: #F5951D;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &__text {
          text-align: right;
          line-height:50px;
          color: white;
          font-weight: 700;
          margin-right: 20px;
          font-size: 1.5em;
          letter-spacing: 10px;
          width: 1000px;
        }
      }
    }
  }
}
