<div class="footer-cmp">
  <div class="footer-cmp__container">
      <div class="footer-cmp__container__wrapper-content">
        <img class="footer-cmp__container__wrapper-content__logo-wrapper" src="./assets/images/logo.png">
        <div class="footer-cmp__container__wrapper-content__text-wrapper">
            <div class="footer-cmp__container__wrapper-content__text-wrapper__text">
              TODOS OS DIREITOS RESERVADOS
            </div>
            <div class="footer-cmp__container__wrapper-content__text-wrapper__text">
              PROJETO NOVA CHANCE
            </div>
            <div class="footer-cmp__container__wrapper-content__text-wrapper__text">
              2023
            </div>
        </div>
      </div>
  </div>
</div>
